form.application.pf1-v2.apply-damage {
  min-width: 300px;

  .window-content {
    .notes {
      display: flex;
      justify-content: space-around;
    }

    h2 {
      font-size: var(--font-size-24);
      margin: 0.5rem 0;
    }

    .targets {
      display: flex;
      flex-flow: column nowrap;
      gap: 0.3rem;

      > .target {
        display: flex;
        flex-flow: column nowrap;
        gap: 3px;
      }
    }

    .target-ident {
      display: flex;
      flex-flow: row nowrap;

      > .name {
        flex: 1;
      }

      > .total {
        flex: 0 3em;
        text-align: right;

        &::before {
          content: "±";
        }
      }
    }

    .instances > * {
      display: flex;
      flex-flow: row wrap;

      .instance {
        flex: 1 100%;

        padding: 0 0.5rem; // Match padding of surrounding inputs
      }
    }

    // General reduction
    .target-reduction {
      display: flex;
      flex-flow: row nowrap;
      gap: 0.5rem;
      white-space: nowrap;

      input {
        //flex: 0 4em;
        height: unset;
        line-height: unset;
      }
    }

    .resistances {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      gap: 0.5rem;

      font-size: var(--font-size-13);

      h6 {
        font-size: inherit;
      }

      ul {
        display: flex;
        flex-flow: row wrap;
        gap: 0 0.3rem;

        > li {
          margin: 0; // Undo Foundry styling

          > label {
            padding: 0 3px;
          }
        }
      }

      > .reduction-category {
        flex: 1 12em;
        text-align: center;

        > h6 {
          border-width: 1px;
          text-decoration: underline;
          margin: 0 0 0.3rem 0;
        }

        > ul {
          list-style: none;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          //gap: 0.2rem;

          margin: 0;
          padding: 0;

          > li {
            a {
              &[data-action] {
                text-decoration: none;
              }

              &::after {
                content: ", ";
              }
            }

            &:last-child {
              a::after {
                content: unset;
              }
            }
          }
        }
      }

      .reduction-choice {
        //outline: 1px solid gray;

        &:hover {
          text-shadow: 0 0 8px var(--pf1-v2-shadow-primary);
        }

        > label {
          display: inline-flex;
          flex-flow: row nowrap;
          align-items: center;
          line-height: 1.5;

          cursor: pointer;

          color: var(--pf1-v2-text-link);

          input {
            display: none;
          }

          &::before {
            content: "✔ ";
            visibility: hidden;
          }

          &:has(input:checked) {
            background-color: var(--pf1-apply-damage-choice-bg);
            outline: 1px solid var(--pf1-apply-damage-choice-outline);
            border-radius: 0.3rem;

            &::before {
              visibility: visible;
            }
          }
        }
      }

      :is(.immunity-choice, .vulnerability-choice) {
        a {
          cursor: default;
        }
      }
    }

    .switch {
      display: flex;
      flex-flow: row nowrap;

      background-color: var(--pf1-switch-bg);
      border-radius: 7px;
      //justify-content: space-evenly;

      .switch-option {
        padding: 0 0.3rem;
        flex: 1;
        text-align: center;

        cursor: pointer;

        border-right: 1px solid var(--pf1-switch-border);

        &:first-child {
          border-radius: 7px 0 0 7px;
        }
        &:last-child {
          border-right: none;
          border-radius: 0 7px 7px 0;
        }

        input {
          display: none;
        }

        &:hover {
          background-color: var(--pf1-switch-inactive-hover);
        }

        &:has(input:checked) {
          background: var(--pf1-switch-active-bg);
          //font-weight: bold;
          color: var(--pf1-switch-active-color);

          &:hover {
            background-color: var(--pf1-switch-active-hover);
          }
        }
      }
    }
  }

  // TODO: Move this to generic styling
  transition: opacity 200ms;
  &[inert] {
    opacity: 0.6; // Clicks go through inert form, so transparency helps communicate that.
  }
}

.theme-light {
  form.application.pf1-v2.apply-damage {
    .switch {
      --pf1-switch-active-hover: goldenrod;
      --pf1-switch-active-bg: gold;
      --pf1-switch-inactive-hover: burlywood;
      --pf1-switch-bg: var(--pf1-faint);
      --pf1-switch-border: var(--color-border-light-tertiary);
    }

    .total {
      color: black;
      text-shadow: 0 0 1px orange; // TODO: Unify styling
    }

    // HACK: Fixes to PF1 AppV2 styling
    .window-content {
      .resistances {
        h6 {
          text-shadow: none;
        }
      }
    }
  }
}

.theme-dark {
  form.application.pf1-v2.apply-damage {
    .switch {
      --pf1-switch-active-hover: goldenrod;
      --pf1-switch-active-bg: #ffc637;
      --pf1-switch-active-color: black;
      --pf1-switch-inactive-hover: #52504d; // TODO: Fix this
      --pf1-switch-bg: #32302d; // TODO: Fix this
      --pf1-switch-border: var(--color-border-light-tertiary);
    }

    .total {
      color: gold;
    }
  }
}

.theme-light {
  form.application.pf1-v2.apply-damage {
    --pf1-apply-damage-choice-bg: var(--pf1-bg-dark-05);
    --pf1-apply-damage-choice-outline: var(--color-border-light-2);
  }
}

.theme-dark {
  form.application.pf1-v2.apply-damage {
    --pf1-apply-damage-choice-bg: var(--color-cool-4);
    --pf1-apply-damage-choice-outline: var(--color-border-dark-4);
  }
}
