.chat-message {
  #context-menu {
    .context-item {
      .pf1 {
        &.context-icon {
          &.concentration {
            color: darkorange;
          }

          &.caster-level {
            color: darkorange;
          }
        }
      }
    }
  }
}
