.pf1 {
  &.sheet {
    // Rollable Links
    .editable {
      .rollable:hover,
      .action.roll:hover {
        color: var(--pf1-item-hover-text);
        text-shadow: var(--pf1-item-hover-shadow);
        cursor: pointer;
      }
    }
  }
}
