.pf1-v2.application.action-selector {
  .actions {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25rem;

    .action {
      padding: 0.25rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: var(--pf1-v2-border-width) solid transparent;
      gap: 0.25rem;

      &:hover {
        border-color: var(--pf1-v2-border-primary);
      }

      img {
        width: 76px;
        height: 76px;
        object-fit: cover;
      }

      span {
        text-align: center;
        width: 76px;
      }
    }
  }
}
