.pf1.item.sheet {
  section .tab.details {
    .ammunition {
      img {
        flex: 0 24px;
        width: 24px;
        height: 24px;
      }

      .item-name {
        flex: 1;
      }

      i,
      a {
        flex: 0 1em;
      }
    }

    .misfire {
      .misfire-radius {
        flex: 0 3em;
      }
    }

    .material-addons {
      label.checkbox {
        flex: 0 0 12em;
      }
    }
  }
}
